[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rgoogleslides"]
	path = rgoogleslides
	url = https://github.com/hairizuanbinnoorazman/rgoogleslides
